*.py[co]
.idea

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg
example_app/local_settings.py
*.db
#vim
*.swo
*.swp
